@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html , body {
    margin: 0;
    padding: 0;
    background-color: #1001e9;
    color: #fc0000;
}

header {
    font-size: 1em;
}

div {

    /* background-color: #d6e813; */
    display: flex;
    background-image: url("/images/operlator_importand.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.loop {
    
    display: flex;
    background-image: url("/images/loop_differ.png");
    width: 100%;
}

.button {

    display: block;
}