@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html , body {
    margin: 0;
    padding: 0;
    background-color: #00d9ff;
    color: #fc0000;
}

header {
    font-size: 1em;
}

img {

    width: 100%;
}
.light {
    background-color: #ffa500;
    color: #000000;
}

.dark {
    background-color: #800080;
    color: #ffffff;
}

.boy {

    color: #ffff00;
    background-color: #000000;
}

.operator {

    display: block;
}

.loop {

    display: block;
}

.button {

    display: block;
}

.darkmode {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    padding: 30px;
    margin: 10px;
}